html {
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.page {
    display: grid;
    justify-items: center;
}

#temporary-screen {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    line-height: 100vh;
    text-align: center;
    font-size: large;
    font-weight: bold;
    background-color: rgba(0,0,0,0.4); 
}

.stats {
    display: grid;
    grid-template-columns: calc(clamp(24vw, 384px, 100%) / 2 - clamp(10vw, 160px, 100%) / 2) calc(clamp(24vw, 384px, 100%) / 2 - clamp(10vw, 160px, 100%) / 2) clamp(2vw, 32px, 100%) clamp(3vw, 48px, 100%) clamp(2vw, 32px, 100%) clamp(3vw, 48px, 100%);
    width: clamp(24vw, 384px, 100%);
    height: clamp(2vw, 32px, 100%);
}

.stat-text {
    width: calc(100% - calc(clamp(0.25vw, 4px, 100%)*2));
    height: calc(100% - calc(clamp(0.25vw, 4px, 100%)*2));
    line-height: calc(clamp(32px, 2vw, 32vw) - calc(clamp(0.25vw, 4px, 100%)*2));
    font-size: clamp(16px, 1vw, 1vw);
    font-weight: bold;
    padding: clamp(0.25vw, 4px, 100%);
}

.stat-icon {
    width: calc(clamp(2vw, 32px, 100%) - calc(clamp(0.25vw, 4px, 100%)*2));
    height: calc(clamp(2vw, 32px, 100%) - calc(clamp(0.25vw, 4px, 100%)*2));
    image-rendering: pixelated;
    padding: clamp(0.25vw, 4px, 100%);
}

.box {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: rgba(63, 63, 63, 1);
    margin: 0px 0px clamp(32px, calc(100vh - (clamp(1vw, 16px, 100%) * 2 + clamp(64px, 4vw, 4vw) + clamp(2vw, 32px, 100%) + clamp(384px, 24vw, 24vw))), calc(100vh - (clamp(1vw, 16px, 100%) * 2 + clamp(64px, 4vw, 4vw) + clamp(2vw, 32px, 100%) + clamp(384px, 24vw, 24vw)))) 0px;
    width: clamp(24vw, 384px, 100%);
    height: clamp(384px, 24vw, 24vw);
}

.zoomin-button {
    position: fixed;
    top: 0;
    right: 0;
    font-size: large;
    background-color: rgb(255, 255, 255, 0.5);
    width: clamp(2vw, 32px, 100%);
    height: clamp(2vw, 32px, 100%);
    margin: 20px;
    padding: 0;
    border: 1px solid black;
    cursor: pointer;
}

.zoomout-button {
    position: fixed;
    top: 0;
    right: 0;
    font-size: large;
    background-color: rgb(255, 255, 255, 0.5);
    width: clamp(2vw, 32px, 100%);
    height: clamp(2vw, 32px, 100%);
    margin: calc(20px + clamp(2vw, 32px, 100%)) 20px;
    padding: 0;
    border: 1px solid black;
    cursor: pointer;
}

.indicator-button {
    position: fixed;
    top: 0;
    right: 0;
    font-size: large;
    background-color: rgb(255, 255, 255, 0.5);
    width: clamp(2vw, 32px, 100%);
    height: clamp(2vw, 32px, 100%);
    margin: calc(40px + clamp(2vw, 32px, 100%) + clamp(2vw, 32px, 100%)) 20px;
    padding: 0;
    border: 1px solid black;
    cursor: pointer;
}

.keypad-left {
    position: fixed;
    bottom: 0;
    left: 0; 
    display: grid !important;
    width: clamp(18vw, 192px, 100%);
    height: clamp(18vw, 192px, 100%);
    grid-template-columns: repeat(3, clamp(4vw, 64px, 69px));
    grid-template-rows: repeat(3, clamp(4vw, 64px, 69px));
    pointer-events: none;
    margin: 20px 20px ;
}

.keypad-right {
    position: fixed;
    bottom: 0;
    right: 0; 
    display: grid !important;
    width: clamp(18vw, 192px, 100%);
    height: clamp(18vw, 192px, 100%);
    grid-template-columns: repeat(3, clamp(4vw, 64px, 69px));
    grid-template-rows: repeat(3, clamp(4vw, 64px, 69px));
    pointer-events: none;
    margin: 20px 20px ;
}

.key {
    display: block !important;
    padding: 0;
    box-sizing: border-box;
    width: clamp(4vw, 64px, 100%);
    height: clamp(4vw, 64px, 100%);
    background-color: rgb(255, 255, 255, 0.5);
    color: black;
    text-align: center;
    line-height: max(4vw, 64px);
    font-size: large;
    border: 1px solid black;
    pointer-events: auto;
}